body {
    margin:0;
    color:#6a6f8c;
	background: no-repeat center;
	font:600 16px/18px 'Open Sans',sans-serif;
}

.login-wrap {
	width:100%;
	margin:auto;
	max-width:1500px;
	min-height:1000px;
	position:relative;
	background: no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html {
	width:100%;
	height:100%;
	position:absolute;
	padding:0px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}

.footer {
	font-family: montserrat, arial, verdana;
    height: 200px;
	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}
