    <section id="conatcat-info">
        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-md-10 col-sm-8 col-xm-8">
                    <div class="media contact-info wow fadeInDown" 
                         data-wow-duration="1000ms" 
                         data-wow-delay="600ms">
                        <div class="pull-left">
                          
                        </div>
                        <div class="media-body">                           
                            <h2>Have a question or need a custom quote?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. 
                               Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80
                            </p>
                        </div>                   
                    </div> 
                </div>

            <p>
                <img src="assets\images\Phone.png">
            </p>
            <p>
                <img src="assets\images\contact.png">
            </p>

            </div>
        </div>
    </section>
