<body [ngStyle]="{'background-image': 'url(' + backgroundImagePath + ')'}">
    <div class="login-wrap">
        <div class="login-html">
          <div style="overflow-y: scroll; height:1000px;">
              <button (click)="onPrepareToAll()" class="btn btn-info" *ngIf="button1=='1'">BeforeSync</button>  
              <button (click)="onGenerateTableInApi()" class="btn btn-success" *ngIf="button1=='2'">GenerateTable</button> 
              <button (click)="onSearchAgain()" class="btn btn-warning" *ngIf="button1=='2'">reset</button> 
              <hr>



                    <div class="setForm" *ngIf="button1=='2'">
                    <div class="login-form">    
                    <div class="sign-in-htm">
    <form (ngSubmit)="onTrySearch(f)" #f="ngForm">
    <div class="group">
              <label for="city" class="label">Wyszukaj po miejscu zamieszkania</label>
              <input id="city" name="city" ngModel required type="text" class="input" #city="ngModel">
              <span class="help-block" *ngIf="!city.valid && city.touched" style="color:red;">Wprowadź poprawną nazwę miasta!</span>
    </div>
             <div class="group" *ngIf="canSearch=='1'">
              <input type="submit" class="button" value="Wyszukaj pracownika" [disabled]="!f.valid">
              </div>
    </form>
              <button (click)="onSearchAgain()" *ngIf="canSearch=='0'" class="btn btn-warning">Ponowne wyszukiwanie</button>           
        <hr>

                    </div>
                    </div>
                    </div>


  <br>
<p *ngIf="button1=='1'">BeforeSync - pobranie danych przez api umożliwi późniejsze przeszukanie pracowników</p>
<p *ngIf="button1=='1'">Przygotowanie aplikacji do wysłania zapytania na serwer w celu pobrania danych o pracownikach</p>
<p *ngIf="button1=='2'">Reset - przy pierwszym wyszukiwaniu zresetować dane i spróbować jeszcze raz</p>
<p *ngIf="button1=='2'">1. GenerateTable - wczytanie pobranych danych do api</p>
<p *ngIf="button1=='2'">2. Wyszukaj pracownika - wpisz nazwe miasta</p>
<p *ngIf="button1=='2'">3. Nastepnie kliknij wyszukaj pracownika</p>    

            <br>
            <br>


<div *ngIf="(showTable)">
<div class="scroll">
<table>
   <thead>
    <th>id</th>
    <th>Surname</th> 
    <th>Name</th>
    <th>City</th>
    <th>Street</th>
    <th>Email</th>
    <th>Pesel</th>
    <th>Pass</th>
   </thead>
   <tbody>
  <tr *ngFor="let obj of dataOfSearchedWorkers">
    <td> {{ obj.id }} </td>
    <td> {{ obj.surname }} </td> 
    <td> {{ obj.name }} </td>
    <td> {{ obj.city }} </td>
    <td> {{ obj.street }} </td>
    <td> {{ obj.email }} </td>
    <td> {{ obj.pesel }} </td>
    <td> {{ obj.pass }} </td>
  </tr>
</tbody>
</table>
</div>
</div>



           </div>
          </div>
        </div>
</body>
      
<div class="footer">
          <img src="assets/images/partners/partner1.png" align="left" style="position:absolute; left:5%;margin-top:50px;">
          <img src="assets/images/partners/partner2.png" align="left" style="position:absolute; right:35%;margin-top:50px;">
          <img src="assets/images/partners/partner3.png" align="left" style="position:absolute; right:60%;margin-top:80px;">
          <img src="assets/images/partners/partner4.png" align="right" style="position:absolute; right:5%;margin-top:80px;">
</div>
