<body [ngStyle]="{'background-image': 'url(' + backgroundImagePath + ')'}">

    <div class="login-wrap">

        <div class="login-html">

<div style="overflow-y: scroll; height:1000px;">
<p align="justify">
Tworzenie regulaminu sklepu internetowego pewnie do najprzyjemniejszych nie należy. I mocno sugerujemy, żeby tworząc regulamin butiku został on skonsultowany  z prawnikiem. Natomiast, żeby uprościć nieco start tym, którzy regulaminu jeszcze nie mają poprosiliśmy zaprzyjaźnioną kancelarię prawną o stworzenie przykładowego regulaminu.
W pole „Informacje o firmie” powinny zostać wpisane dane kontaktowe / rejestracyjne firmy (REGON, NIP). Poniższy regulamin ilustruje elementy, które powinny być zawarte w każdym regulaminie sklepu internetowego. Należy je oczywiście dopasować do własnego charakteru działalności.
</p>
<br>
<br>
<h2 style="color: black;"><b>Przykładowa podstrona z opisem/pracą</b></h2>
<h3 style="color: black;"><b>§ 1 Opis: </b></h3>
<p align="justify">
Niniejszy Regulamin (zwany dalej „Regulaminem”) określa ogólne warunki sprzedaży towarów w sklepie internetowym zlokalizowanym na platformie internetowej www.dawanda.pl oferowanych do sprzedaży przez:
[w przypadku osoby fizycznej prowadzącej działalność gospodarczą]
[imię i nazwisko] prowadzącego działalność gospodarczą pod nazwą [firma przedsiębiorcy] z siedzibą w […………], z adresem: [………….], o numerze NIP [……..], REGON […………],  adres e-mail [………….], [informacja dotycząca zezwolenia i organu zezwalającego, jeżeli sprzedaż określonych towarów wymaga zezwolenia], zwanego dalej „Sklepem”.
[w przypadku przedsiębiorcy podlegającemu wpisowi do KRS]
[nazwa sprzedawcy] z siedzibą w [………], adres […………………], wpisanym do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego przez Sąd Rejonowy w [………….], pod numerem KRS […………..], o numerze NIP […………], REGON [………..], [informacja dotycząca zezwolenia i organu zezwalającego, jeżeli sprzedaż określonych towarów wymaga zezwolenia], zwanego dalej „Sklepem”. W dalszej części Regulaminu osobę zamierzającą dokonać zakupu towaru w naszym sklepie internetowym i zarejestrowaną na www.dawanda.pl nazywamy „Klientem” lub „Użytkownikiem”.
Zakup towarów w naszym sklepie internetowym może być dokonywany wyłącznie przez osoby pełnoletnie albo przez osoby prawne lub jednostki organizacyjne nie posiadające osobowości prawnej. W każdym przypadku prosimy, aby zakupów nie dokonywały osoby poniżej 18 roku życia.
Przed złożeniem zamówienia klient obowiązany jest zapoznać się i zaakceptować niniejszy Regulamin. Akceptacja Regulaminu jest warunkiem koniecznym korzystania z usług naszego sklepu internetowego i następuje w toku wypełnienia formularza zamówienia (o przebiegu transakcji w §4 Regulaminu).
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 2 Opis: </b></h3>
<p align="justify">
Informujemy Państwa, że dane osobowe Klientów naszego Sklepu internetowego podlegają przetwarzaniu wyłącznie w celu realizacji zamówienia i podlegają ochronie stosownie do bezwzględnie obowiązujących przepisów. Dane osobowe użytkownika uzyskujemy w wyniku rejestracji przez użytkownika na platformie internetowej www.dawanda.pl
Administratorem zbioru danych osobowych klientów jest DaWanda, nie są one udostępniane innym firmom dla celów marketingowych.
Informujemy Państwa, że każdy Klient ma prawo do wglądu w przechowywane przez portal DaWanda, swoje dane osobowe oraz do ich zmiany lub aktualizacji.
Informujemy Państwa, że Państwa dane osobowe mogą być w każdym czasie usunięte z platformy internetowej www.dawanda.pl poprzez usunięcie profilu użytkownika.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 3 Opis: </b></h3>
<p align="justify">
Wszelkie informacje dotyczące towarów oferowanych przez nasz Sklep za pośrednictwem www.dawanda.pl nie stanowią oferty w rozumieniu przepisów Kodeksu cywilnego, a są wyłącznie prezentacją produktów oferowanych przez nasz Sklep.
W przypadku zakupu określonego towaru Klient uzyska informację o oferowanym towarze, w tym jego nazwę, określenie producenta lub importera, znak zgodności, adnotację o dopuszczeniu do obrotu w Rzeczypospolitej Polskiej oraz, stosownie do rodzaju towaru, określenie jego energochłonności, a także innych danych jeżeli są wymagane przepisami prawa [są to wymogi wynikające z ustawy o szczególnych warunkach sprzedaży konsumenckiej].
Wszystkie ceny podawane w sklepie internetowym są wyrażone w złotych polskich (PLN) i są to ceny uwzględniające właściwą stawkę podatku VAT.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 4 Opis: </b></h3>
<p align="justify">
W celu dokonania zakupu określonego towaru w naszym sklepie internetowym, użytkownik rejestruje się na platformie www.dawanda.pl, następnie wysyła formularz zakupu za pośrednictwem platformy www.dawanda.pl. Wysłanie formularza zakupu jest równoznaczne z akceptacją warunków sprzedaży, w tym niniejszego Regulaminu.
W przypadku podania nieprawdziwych, niepełnych lub błędnych danych – spróbujemy skontaktować się z Klientem w celu ich uzupełnienia lub sprostowania. Jeśli kontakt nie będzie możliwy odstąpimy od umowy sprzedaży.
Sklep zastrzega sobie prawo do odstąpienia od transakcji sprzedaży w przypadku braku dostępności towaru u dostawcy. Wpłacone przez Klienta środki pieniężne zostaną wówczas niezwłocznie zwrócone, na wskazany przez Klienta rachunek bankowy.
Korektę do swojego zamówienia Klient może wprowadzać do momentu wysłania przez sklep potwierdzenia przyjęcia zamówienia do klienta. Klient może również wycofać swoje zamówienie zanim zostanie ono potwierdzone przez sklep. W wypadku opłaconego zamówienia sklep zwraca wpłacone pieniądze niezwłocznie, nie później niż w terminie 30 dni.
Z chwilą potwierdzenia przez sklep internetowy przyjęcia zamówienia do realizacji (co nastąpi w formie przesłania Państwu informacji elektronicznej) dochodzi do zawarcia umowy sprzedaży pomiędzy Sklepem a Użytkownikiem.
Użytkownik po wysłaniu zamówienia zakupu towaru dokonuje zapłaty za towar w jeden z wybranych przez siebie sposobów. Niezwłocznie po dokonaniu zapłaty ceny lub zaksięgowaniu wpłaty na naszym koncie (w przypadku wyboru odpowiednio systemu PayPal lub przelewu bankowego ) wysyłamy do Państwa wybrany produkt. W przypadku wyboru przez klienta sposobu zapłaty poprzez doręczenie towaru za pobraniem ceny, dokonujemy wysyłki niezwłocznie po zaakceptowaniu zamówienia klienta.
Towar zamówiony w naszym sklepie internetowym dostarczamy za pośrednictwem Poczty Polskiej oraz firm kurierskich. Kosz wysyłki uzależniony jest od całkowitej wagi zamówionego towaru i jest podawany podczas składania zamówienia.
Wraz z towarem, zgodnie z wyborem Klienta, wydawana jest faktura VAT lub paragon fiskalny. W przypadku braku któregokolwiek z tych dokumentów prosimy o zgłoszenie tego faktu w celu uzupełnienia braku. Po otrzymaniu przesyłki Klient winien dokładnie sprawdzić paczkę i otrzymany towar i o ewentualnych usterkach niezwłocznie nas poinformować.
Po dostarczeniu Państwu towaru uprzejmie prosimy o dokonanie oceny transakcji poprzez platformę www.dawanda.pl.
W toku transakcji sprzedaży możecie Państwo komunikować się ze sklepem. Jednocześnie deklarujemy, że będziemy Państwa informować o wszystkich istotnych etapach transakcji, które wystąpiły po naszej stronie (przyjęciu zamówienia do realizacji, zaksięgowaniu wpłaty, wysłaniu towaru).
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 5 Formy płatności ceny za towar: </b></h3>
<p align="justify">
Możliwe są następujące formy płatności, a wybór formy należy do Klienta:

i)        przelewem bankowym (przedpłata);

ii)      za pośrednictwem systemu PayPal;

iii)    za pobraniem, z chwilą dostarczenia przesyłki z towarem.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 6 Zwrot towaru i anulowanie transakcji: </b></h3>
<p align="justify">
Konsument (Klient będący osobą fizyczną, nabywającą towar na własny użytek, w celu niezwiązanym z jej działalnością gospodarczą lub zawodową), który zawarł umowę poza lokalem przedsiębiorstwa lub na odległość, może od niej odstąpić zgodnie z obowiązującymi przepisami, składając stosowne oświadczenie na piśmie, w terminie do 14 dni kalendarzowych od dnia doręczenia zakupionego towaru.
Formularz zwrotu należy wysłać listem poleconym lub załączyć do paczki ze zwracanym towarem. O zachowaniu 14-dniowego terminu decyduje data stempla pocztowego.
Zwracany towar nie może nosić oznak użytkowania ponad wynikające z czynności zwykłego zarządu rzeczą. Zwracany towar musi być kompletny i w miarę możliwości, zapakowany w oryginalne opakowanie.
Zwrot towaru do Sklepu powinien nastąpić niezwłocznie, jednak nie później niż w terminie 14 dni od momentu odstąpienia od umowy sprzedaży (tj. od dnia nadania oświadczenia o odstąpieniu)
Po otrzymaniu przez Sklep oświadczenia o odstąpieniu od umowy, Klientowi niezwłocznie, nie później niż w terminie 14 dni, zostanie zwrócona kwota stanowiąca wartość zwracanego towaru oraz kosztów dostawy towaru do Klienta, jeżeli Klient je uiścił. Koszty zwrotu towaru do Sklepu ponosi Klient.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 7 Procedura  reklamacyjna: </b></h3>
<p align="justify">
W przypadku stwierdzenia przez Klienta wady zakupionego towaru,  Klient zgodnie z ustawą z dnia 27 lipca  2002 r. o szczególnych warunkach sprzedaży konsumenckiej oraz o zmianie Kodeksu cywilnego (Dz. U. 2002, Nr 141, poz. 1176), ma prawo do żądania doprowadzenia towaru do stanu zgodnego z umową przez nieodpłatną naprawę albo wymianę na nowy, chyba, że naprawa albo wymiana są niemożliwe lub wymagają nadmiernych kosztów.
Sklep odpowiada za niezgodność towaru z umową jedynie w przypadku jej stwierdzenia przed upływem dwóch lat od wydania tego towaru Klientowi oraz zawiadomienia Sklepu przez Klienta o stwierdzeniu wady towaru w terminie dwóch miesięcy od jej wykrycia.
W przypadku stwierdzenia wady towaru zakupionego w Sklepie, Klient zobowiązany jest do zgłoszenia tego Sklepowi na adres e-mail […………..]. W zgłoszeniu Klient powinien dokładnie opisać wadę, podać datę zakupu oraz określić swoje żądanie. Klient w odpowiedzi zwrotnej otrzyma informacje dotyczące przesłania wadliwego towaru do Sklepu. Różnice wynikające z indywidualnych ustawień komputera Klienta (proporcje, kolor itp.) nie mogą być podstawą do reklamacji.
Koszty przesyłki reklamowanego towaru ponosi Klient. Koszty, związane z odesłaniem towaru reklamowanego, Sklep zwraca natychmiast po otrzymaniu przesyłki i uznaniu reklamacji za zasadną.
Sklep ustosunkuje się do żądania Klienta w terminie 14 dni od dnia zgłoszenia reklamacji. Nie ustosunkowanie się do żądania Klienta w powyższym terminie oznacza uznanie jego żądania za uzasadnione. W razie uznania reklamacji, towar uszkodzony zostanie wymieniony na inny, pełnowartościowy, a jeśli będzie to już niemożliwe (na przykład z powodu wyczerpania nakładu), Sklep zwróci Klientowi równowartość ceny produktu lub zaoferuje mu inne, dostępne w sklepie towary do wyboru.
Gdy realizacja żądań Klienta wiąże się z dostawą nowego lub naprawionego towaru, wszystkie koszty dostawy ponosi sklep.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 8 Postanowienia końcowe: </b></h3>
<p align="justify">
W sprawach nieuregulowanych niniejszym Regulaminem stosuje się przepisy Kodeksu cywilnego, ustawy z dnia 27 lipca 2002 r. o szczególnych warunkach sprzedaży konsumenckiej oraz o zmianie Kodeksu cywilnego, oraz ustawy z dnia 2 marca 2000 r. (Dz. U. 2012 o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny (Dz. U. 2012, Nr 1225).
Sklep zastrzega sobie możliwość zmiany niniejszego Regulaminu z ważnych przyczyn, np. zmiany przepisów prawa (w szczególności prawa podatkowego), zmiany stosunków z dostawcami lub producentami, zmian technologicznych. Każdorazowa zmiana Regulaminu publikowana będzie z co najmniej 30 dniowym wyprzedzeniem i będzie wiążąca jedynie dla zamówień złożonych po dniu wejścia w życie nowej wersji Regulaminu.
</p>
<br>
<br>
<p align="justify">
Tworzenie regulaminu sklepu internetowego pewnie do najprzyjemniejszych nie należy. I mocno sugerujemy, żeby tworząc regulamin butiku został on skonsultowany  z prawnikiem. Natomiast, żeby uprościć nieco start tym, którzy regulaminu jeszcze nie mają poprosiliśmy zaprzyjaźnioną kancelarię prawną o stworzenie przykładowego regulaminu.
W pole „Informacje o firmie” powinny zostać wpisane dane kontaktowe / rejestracyjne firmy (REGON, NIP). Poniższy regulamin ilustruje elementy, które powinny być zawarte w każdym regulaminie sklepu internetowego. Należy je oczywiście dopasować do własnego charakteru działalności.
</p>
<br>
<br>
<h2 style="color: black;"><b>Dalsza przykładowa kopia</b></h2>
<h3 style="color: black;"><b>§ 1 Opis: </b></h3>
<p align="justify">
Niniejszy Regulamin (zwany dalej „Regulaminem”) określa ogólne warunki sprzedaży towarów w sklepie internetowym zlokalizowanym na platformie internetowej www.dawanda.pl oferowanych do sprzedaży przez:
[w przypadku osoby fizycznej prowadzącej działalność gospodarczą]
[imię i nazwisko] prowadzącego działalność gospodarczą pod nazwą [firma przedsiębiorcy] z siedzibą w […………], z adresem: [………….], o numerze NIP [……..], REGON […………],  adres e-mail [………….], [informacja dotycząca zezwolenia i organu zezwalającego, jeżeli sprzedaż określonych towarów wymaga zezwolenia], zwanego dalej „Sklepem”.
[w przypadku przedsiębiorcy podlegającemu wpisowi do KRS]
[nazwa sprzedawcy] z siedzibą w [………], adres […………………], wpisanym do Rejestru Przedsiębiorców Krajowego Rejestru Sądowego przez Sąd Rejonowy w [………….], pod numerem KRS […………..], o numerze NIP […………], REGON [………..], [informacja dotycząca zezwolenia i organu zezwalającego, jeżeli sprzedaż określonych towarów wymaga zezwolenia], zwanego dalej „Sklepem”. W dalszej części Regulaminu osobę zamierzającą dokonać zakupu towaru w naszym sklepie internetowym i zarejestrowaną na www.dawanda.pl nazywamy „Klientem” lub „Użytkownikiem”.
Zakup towarów w naszym sklepie internetowym może być dokonywany wyłącznie przez osoby pełnoletnie albo przez osoby prawne lub jednostki organizacyjne nie posiadające osobowości prawnej. W każdym przypadku prosimy, aby zakupów nie dokonywały osoby poniżej 18 roku życia.
Przed złożeniem zamówienia klient obowiązany jest zapoznać się i zaakceptować niniejszy Regulamin. Akceptacja Regulaminu jest warunkiem koniecznym korzystania z usług naszego sklepu internetowego i następuje w toku wypełnienia formularza zamówienia (o przebiegu transakcji w §4 Regulaminu).
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 2 Opis: </b></h3>
<p align="justify">
Informujemy Państwa, że dane osobowe Klientów naszego Sklepu internetowego podlegają przetwarzaniu wyłącznie w celu realizacji zamówienia i podlegają ochronie stosownie do bezwzględnie obowiązujących przepisów. Dane osobowe użytkownika uzyskujemy w wyniku rejestracji przez użytkownika na platformie internetowej www.dawanda.pl
Administratorem zbioru danych osobowych klientów jest DaWanda, nie są one udostępniane innym firmom dla celów marketingowych.
Informujemy Państwa, że każdy Klient ma prawo do wglądu w przechowywane przez portal DaWanda, swoje dane osobowe oraz do ich zmiany lub aktualizacji.
Informujemy Państwa, że Państwa dane osobowe mogą być w każdym czasie usunięte z platformy internetowej www.dawanda.pl poprzez usunięcie profilu użytkownika.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 3 Opis: </b></h3>
<p align="justify">
Wszelkie informacje dotyczące towarów oferowanych przez nasz Sklep za pośrednictwem www.dawanda.pl nie stanowią oferty w rozumieniu przepisów Kodeksu cywilnego, a są wyłącznie prezentacją produktów oferowanych przez nasz Sklep.
W przypadku zakupu określonego towaru Klient uzyska informację o oferowanym towarze, w tym jego nazwę, określenie producenta lub importera, znak zgodności, adnotację o dopuszczeniu do obrotu w Rzeczypospolitej Polskiej oraz, stosownie do rodzaju towaru, określenie jego energochłonności, a także innych danych jeżeli są wymagane przepisami prawa [są to wymogi wynikające z ustawy o szczególnych warunkach sprzedaży konsumenckiej].
Wszystkie ceny podawane w sklepie internetowym są wyrażone w złotych polskich (PLN) i są to ceny uwzględniające właściwą stawkę podatku VAT.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 4 Opis: </b></h3>
<p align="justify">
W celu dokonania zakupu określonego towaru w naszym sklepie internetowym, użytkownik rejestruje się na platformie www.dawanda.pl, następnie wysyła formularz zakupu za pośrednictwem platformy www.dawanda.pl. Wysłanie formularza zakupu jest równoznaczne z akceptacją warunków sprzedaży, w tym niniejszego Regulaminu.
W przypadku podania nieprawdziwych, niepełnych lub błędnych danych – spróbujemy skontaktować się z Klientem w celu ich uzupełnienia lub sprostowania. Jeśli kontakt nie będzie możliwy odstąpimy od umowy sprzedaży.
Sklep zastrzega sobie prawo do odstąpienia od transakcji sprzedaży w przypadku braku dostępności towaru u dostawcy. Wpłacone przez Klienta środki pieniężne zostaną wówczas niezwłocznie zwrócone, na wskazany przez Klienta rachunek bankowy.
Korektę do swojego zamówienia Klient może wprowadzać do momentu wysłania przez sklep potwierdzenia przyjęcia zamówienia do klienta. Klient może również wycofać swoje zamówienie zanim zostanie ono potwierdzone przez sklep. W wypadku opłaconego zamówienia sklep zwraca wpłacone pieniądze niezwłocznie, nie później niż w terminie 30 dni.
Z chwilą potwierdzenia przez sklep internetowy przyjęcia zamówienia do realizacji (co nastąpi w formie przesłania Państwu informacji elektronicznej) dochodzi do zawarcia umowy sprzedaży pomiędzy Sklepem a Użytkownikiem.
Użytkownik po wysłaniu zamówienia zakupu towaru dokonuje zapłaty za towar w jeden z wybranych przez siebie sposobów. Niezwłocznie po dokonaniu zapłaty ceny lub zaksięgowaniu wpłaty na naszym koncie (w przypadku wyboru odpowiednio systemu PayPal lub przelewu bankowego ) wysyłamy do Państwa wybrany produkt. W przypadku wyboru przez klienta sposobu zapłaty poprzez doręczenie towaru za pobraniem ceny, dokonujemy wysyłki niezwłocznie po zaakceptowaniu zamówienia klienta.
Towar zamówiony w naszym sklepie internetowym dostarczamy za pośrednictwem Poczty Polskiej oraz firm kurierskich. Kosz wysyłki uzależniony jest od całkowitej wagi zamówionego towaru i jest podawany podczas składania zamówienia.
Wraz z towarem, zgodnie z wyborem Klienta, wydawana jest faktura VAT lub paragon fiskalny. W przypadku braku któregokolwiek z tych dokumentów prosimy o zgłoszenie tego faktu w celu uzupełnienia braku. Po otrzymaniu przesyłki Klient winien dokładnie sprawdzić paczkę i otrzymany towar i o ewentualnych usterkach niezwłocznie nas poinformować.
Po dostarczeniu Państwu towaru uprzejmie prosimy o dokonanie oceny transakcji poprzez platformę www.dawanda.pl.
W toku transakcji sprzedaży możecie Państwo komunikować się ze sklepem. Jednocześnie deklarujemy, że będziemy Państwa informować o wszystkich istotnych etapach transakcji, które wystąpiły po naszej stronie (przyjęciu zamówienia do realizacji, zaksięgowaniu wpłaty, wysłaniu towaru).
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 5 Formy płatności ceny za towar: </b></h3>
<p align="justify">
Możliwe są następujące formy płatności, a wybór formy należy do Klienta:

i)        przelewem bankowym (przedpłata);

ii)      za pośrednictwem systemu PayPal;

iii)    za pobraniem, z chwilą dostarczenia przesyłki z towarem.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 6 Zwrot towaru i anulowanie transakcji: </b></h3>
<p align="justify">
Konsument (Klient będący osobą fizyczną, nabywającą towar na własny użytek, w celu niezwiązanym z jej działalnością gospodarczą lub zawodową), który zawarł umowę poza lokalem przedsiębiorstwa lub na odległość, może od niej odstąpić zgodnie z obowiązującymi przepisami, składając stosowne oświadczenie na piśmie, w terminie do 14 dni kalendarzowych od dnia doręczenia zakupionego towaru.
Formularz zwrotu należy wysłać listem poleconym lub załączyć do paczki ze zwracanym towarem. O zachowaniu 14-dniowego terminu decyduje data stempla pocztowego.
Zwracany towar nie może nosić oznak użytkowania ponad wynikające z czynności zwykłego zarządu rzeczą. Zwracany towar musi być kompletny i w miarę możliwości, zapakowany w oryginalne opakowanie.
Zwrot towaru do Sklepu powinien nastąpić niezwłocznie, jednak nie później niż w terminie 14 dni od momentu odstąpienia od umowy sprzedaży (tj. od dnia nadania oświadczenia o odstąpieniu)
Po otrzymaniu przez Sklep oświadczenia o odstąpieniu od umowy, Klientowi niezwłocznie, nie później niż w terminie 14 dni, zostanie zwrócona kwota stanowiąca wartość zwracanego towaru oraz kosztów dostawy towaru do Klienta, jeżeli Klient je uiścił. Koszty zwrotu towaru do Sklepu ponosi Klient.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 7 Procedura  reklamacyjna: </b></h3>
<p align="justify">
W przypadku stwierdzenia przez Klienta wady zakupionego towaru,  Klient zgodnie z ustawą z dnia 27 lipca  2002 r. o szczególnych warunkach sprzedaży konsumenckiej oraz o zmianie Kodeksu cywilnego (Dz. U. 2002, Nr 141, poz. 1176), ma prawo do żądania doprowadzenia towaru do stanu zgodnego z umową przez nieodpłatną naprawę albo wymianę na nowy, chyba, że naprawa albo wymiana są niemożliwe lub wymagają nadmiernych kosztów.
Sklep odpowiada za niezgodność towaru z umową jedynie w przypadku jej stwierdzenia przed upływem dwóch lat od wydania tego towaru Klientowi oraz zawiadomienia Sklepu przez Klienta o stwierdzeniu wady towaru w terminie dwóch miesięcy od jej wykrycia.
W przypadku stwierdzenia wady towaru zakupionego w Sklepie, Klient zobowiązany jest do zgłoszenia tego Sklepowi na adres e-mail […………..]. W zgłoszeniu Klient powinien dokładnie opisać wadę, podać datę zakupu oraz określić swoje żądanie. Klient w odpowiedzi zwrotnej otrzyma informacje dotyczące przesłania wadliwego towaru do Sklepu. Różnice wynikające z indywidualnych ustawień komputera Klienta (proporcje, kolor itp.) nie mogą być podstawą do reklamacji.
Koszty przesyłki reklamowanego towaru ponosi Klient. Koszty, związane z odesłaniem towaru reklamowanego, Sklep zwraca natychmiast po otrzymaniu przesyłki i uznaniu reklamacji za zasadną.
Sklep ustosunkuje się do żądania Klienta w terminie 14 dni od dnia zgłoszenia reklamacji. Nie ustosunkowanie się do żądania Klienta w powyższym terminie oznacza uznanie jego żądania za uzasadnione. W razie uznania reklamacji, towar uszkodzony zostanie wymieniony na inny, pełnowartościowy, a jeśli będzie to już niemożliwe (na przykład z powodu wyczerpania nakładu), Sklep zwróci Klientowi równowartość ceny produktu lub zaoferuje mu inne, dostępne w sklepie towary do wyboru.
Gdy realizacja żądań Klienta wiąże się z dostawą nowego lub naprawionego towaru, wszystkie koszty dostawy ponosi sklep.
</p>
<br>
<br>
<h3 style="color: black;"><b>§ 8 Postanowienia końcowe: </b></h3>
<p align="justify">
W sprawach nieuregulowanych niniejszym Regulaminem stosuje się przepisy Kodeksu cywilnego, ustawy z dnia 27 lipca 2002 r. o szczególnych warunkach sprzedaży konsumenckiej oraz o zmianie Kodeksu cywilnego, oraz ustawy z dnia 2 marca 2000 r. (Dz. U. 2012 o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny (Dz. U. 2012, Nr 1225).
Sklep zastrzega sobie możliwość zmiany niniejszego Regulaminu z ważnych przyczyn, np. zmiany przepisów prawa (w szczególności prawa podatkowego), zmiany stosunków z dostawcami lub producentami, zmian technologicznych. Każdorazowa zmiana Regulaminu publikowana będzie z co najmniej 30 dniowym wyprzedzeniem i będzie wiążąca jedynie dla zamówień złożonych po dniu wejścia w życie nowej wersji Regulaminu.
</p>
<br>
<br>





</div>


        </div>
    </div>
</body>
<div class="footer">
          <img src="assets/images/partners/partner1.png" align="left" style="position:absolute; left:5%;margin-top:50px;">
          <img src="assets/images/partners/partner2.png" align="left" style="position:absolute; right:35%;margin-top:50px;">
          <img src="assets/images/partners/partner3.png" align="left" style="position:absolute; right:60%;margin-top:80px;">
          <img src="assets/images/partners/partner4.png" align="right" style="position:absolute; right:5%;margin-top:80px;">
</div>

