
<div id="slider">

<figure>

  <img src="assets\images\slider\bg1.jpg">
  <h1>
    <table style="margin-top: 30%; border: none;">
        <tr>
            <th>Testowy tekst slajd 1</th>
        </tr>
        <tr>
            <td><a href="">Jakiś link 1</a></td>
        </tr>
        <tr>
            <td>ksaxlaskxajsklxjsklx</td>
        </tr>
    </table>
  </h1>





    <img src="assets\images\slider\bg2.jpg">
    <h2>   
      <table style="margin-top: 30%; border: none;">
        <tr>
            <th>Testowy tekst slajd 2</th>
        </tr>
        <tr>
            <td><a href="">Jakiś link 2</a></td>
        </tr>
        <tr>
            <td>alskxa;lsxksal;xkas;lxs</td>
        </tr>
      </table>
    </h2>





    <img src="assets\images\slider\bg3.jpg">
    <h3>
        <table style="margin-top: 30%; border: none;">
            <tr>
              <th>Testowy tekst slajd 3</th>
            </tr>
            <tr>
              <td><a href="">Jakiś link 3</a></td>
            </tr>
            <tr>
              <td>sal;xkals;xkal;skl</td>
            </tr>
        </table>
    </h3>




    <img src="assets\images\slider\bg4.jpg">
    <h4>
      <table style="margin-top: 35%; border: none;">
        <tr>
            <th>Testowy tekst slajd 4</th>              
        </tr>
        <tr>
            <td><a href="">Jakiś link 4</a></td>               
        </tr>
        <tr>
            <td>sal;xkals;xkal;skl</td>
        </tr>
      </table>
    </h4>




  <img src="assets\images\slider\bg5.jpg">
  <h5>
    <table style="margin-top: 35%; border: none;">
      <tr>
          <th>Testowy tekst slajd 5</th>                   
      </tr>
      <tr>
          <td><a href="">Jakiś link 5</a></td>                   
      </tr>
      <tr>                   
          <td>salxkalsxkalskl</td>                   
      </tr>
    </table>            
  </h5>




</figure>
</div>



<!--

<img class="mySlides" src="assets\images\slider\bg1.jpg">
<img class="mySlides" src="assets\images\slider\bg2.jpg">
<img class="mySlides" src="assets\images\slider\bg3.jpg">


-->


<app-home2></app-home2>
<app-home3></app-home3>

