<body [ngStyle]="{'background-image': 'url(' + BGoNas + ')'}">
    <div class="login-wrap">
        <div class="login-html">


         
   <div style="overflow-y: scroll; height:1000px;">
      <section class="team text-center section-padding" id="team">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">We're a team that adore what we do</h1>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div id="teamSlider">
                  <ul class="slides">
                    <li>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-01.png" alt="Team Member">
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                             <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                             <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                             <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                             <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                             <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-02.png" alt="Team Member">
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                              <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                              <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                              <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                              <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                              <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-03.png" alt="Team Member">
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>


                    <li>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-01.png" alt="Team Member">
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-02.png" alt="Team Member">
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-03.png" alt="Team Member">
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    

            <li>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-01.png" alt="Team Member">
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-02.png" alt="Team Member">
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-03.png" alt="Team Member">
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>


            <li>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-01.png" alt="Team Member">
                        <h2>Jon Snow</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-02.png" alt="Team Member">
                        <h2>Cersei Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5">
                        <img src="assets/images/team-03.png" alt="Team Member">
                        <h2>Jamie Lannister</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                        <div class="social">
                          <ul class="social-buttons">
                               <li><a href="https://pl-pl.facebook.com/"><img src="assets\images\facebook.png"></a></li>
                               <li><a href="https://twitter.com/?lang=pl"><img src="assets\images\twitter.png"></a></li>
                               <li><a href="https://pl.linkedin.com/"><img src="assets\images\linkedin.png"></a></li> 
                               <li><a href="https://www.instagram.com/"><img src="assets\images\instagram.png"></a></li>
                               <li><a href="https://www.skype.com/pl/new/"><img src="assets\images\skype.png"></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>





                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
</div>
</div>
    </div>

</body>     
            
         
<div class="footer">
          <img src="assets/images/partners/partner1.png" align="left" style="position:absolute; left:5%;margin-top:50px;">
          <img src="assets/images/partners/partner2.png" align="left" style="position:absolute; right:35%;margin-top:50px;">
          <img src="assets/images/partners/partner3.png" align="left" style="position:absolute; right:60%;margin-top:80px;">
          <img src="assets/images/partners/partner4.png" align="right" style="position:absolute; right:5%;margin-top:80px;">
</div>
        
