body {
    margin:0;
    color:black;
	background: no-repeat center;
	font:600 16px/18px 'Open Sans',sans-serif;
	min-height: 1000px;
}

.equal {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
}


/*----------------------
	   #Responsive
----------------------*/
.col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

.row, .container {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}