<body [ngStyle]="{'background-image': 'url(' + BGwszyscy + ')'}">
    <div class="login-wrap">
        <div class="login-html">
          <div style="overflow-y: scroll; height:1000px;">
              <button (click)="onDownloadAllWorkersFromLocalDatabase()" class="btn btn-info" *ngIf="Button1=='1'">LocalDatabase</button>   
              <button (click)="onShowTableWithAllWorkers()" class="btn btn-success" *ngIf="Button1=='2'">GenerateTable</button> 
              <button (click)="resetDataOfDownloadedAllWorkers()" class="btn btn-danger" *ngIf="Button1=='2'">ResetTable/Arrays</button> 
              <hr>

<p *ngIf="Button1=='1'"> Po poprawnym pobraniu danych z bazy danych tabelka z danymi kliknij GenerateTable: </p>
<p *ngIf="Button1=='2'"> ResetTable/Arrays - przy pierwszym wyszukiwaniu zresetować i spróbować ponownie: </p>
<p *ngIf="Button1=='2'"> ResetTable/Arrays - aby sprobowac ponownie wyswietlic dane: </p>





<div *ngIf="(showtable)">
	<div class="columns">
		<div class="column col-12">
			<ngx-table [configuration]="configuration" [data]="danePracownika2" [columns]="columns">
            </ngx-table>
            <p *ngFor="let val of danePracownika2">{{val.id}}  {{val.name}}</p>
        </div>
	</div>
</div>



          </div>
        </div>
    </div>
</body>
<div class="footer">
          <img src="assets/images/partners/partner1.png" align="left" style="position:absolute; left:5%;margin-top:50px;">
          <img src="assets/images/partners/partner2.png" align="left" style="position:absolute; right:35%;margin-top:50px;">
          <img src="assets/images/partners/partner3.png" align="left" style="position:absolute; right:60%;margin-top:80px;">
          <img src="assets/images/partners/partner4.png" align="right" style="position:absolute; right:5%;margin-top:80px;">
</div>
