<body [ngStyle]="{'background-image': 'url(' + BGwszyscy + ')'}">
    <div class="login-wrap">
        <div class="login-html">
          <div style="overflow-y: scroll; height:1000px;">
              <button (click)="onPrepareToSyncAllDataWithDatabase()" class="btn btn-info" *ngIf="Button1=='1'">BeforeSync</button>  
              <button (click)="onShowTableWithAllWorkers()" class="btn btn-success" *ngIf="Button1=='2'">GenerateTable</button> 
              <button (click)="resetDataOfDownloadedAllWorkers()" class="btn btn-danger" *ngIf="Button1=='2'">ResetTable/Arrays</button> 
              <hr>

<p *ngIf="Button1=='1'"> Po poprawnym pobraniu danych z bazy danych tabelka z danymi kliknij GenerateTable: </p>
<p *ngIf="Button1=='2'"> ResetTable/Arrays - przy pierwszym wyszukiwaniu zresetować i spróbować ponownie: </p>
<p *ngIf="Button1=='2'"> ResetTable/Arrays - aby sprobowac ponownie wyswietlic dane: </p>
<div *ngIf="(showtable)">
 <table>
   <thead>
     
       <th>CITY</th>
       <th>EMAIL</th>
       <th>NAME</th>
       <th>PASS</th>
       <th>PESEL</th>
       <th>STREET</th>
       <th>SURNAME</th>
    
   </thead>
   <tbody>    
     <tr *ngFor="let row of danePracownika2">    
               <td>{{row.city}}</td>    
               <td>{{row.email}}</td>    
               <td>{{row.name}}</td>     
               <td>{{row.pass}}</td>     
               <td>{{row.pesel}}</td>   
               <td>{{row.street}}</td>  
               <td>{{row.surname}}</td> 
     </tr>  
    </tbody>
 </table>
</div>

          </div>
        </div>
    </div>
</body>
<div class="footer">
          <img src="assets/images/partners/partner1.png" align="left" style="position:absolute; left:5%;margin-top:50px;">
          <img src="assets/images/partners/partner2.png" align="left" style="position:absolute; right:35%;margin-top:50px;">
          <img src="assets/images/partners/partner3.png" align="left" style="position:absolute; right:60%;margin-top:80px;">
          <img src="assets/images/partners/partner4.png" align="right" style="position:absolute; right:5%;margin-top:80px;">
</div>
