/* Style time text */
.time-right {
    float: right;
    color: #aaa;
    text-align: end;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

/* Chat containers */
.chatContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: olivedrab;
    background-color: olive;
}

/* Clear floats */
.chatContainer::after {
    content: "";
    clear: both;
    display: table;
}

.chatImage {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;    
}

.chatImageRight {
    float: right;
    margin-right: 0;
    max-width: 60px;
    width: 100%;
    margin-left: 20px;
    border-radius: 50%; 
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.mainContainer {
    max-width: 100%;
}

.container {
    max-width: 100%;
}
