<body [ngStyle]="{'background-image': 'url(' + backgroundImagePath + ')'}">
 
            
    <div class="login-wrap">
        <div class="login-html">



<div class="scroll">

<div class="sidenav">
  <a style="cursor: pointer;" (click)="quest1()">lacus dapibus vulputate vestibulum?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest2()">Donec volutpat?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest3()">Maecenas aliquet lacinia neque at?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest4()">lacinia tempor?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest5()">Donec placerat?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest6()">pellentesque sapien quis, luctus diam?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest7()">Aenean ullamcorper commodo leo?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest8()">Aenean diam erat, malesuada nec ullamcorper ut, auctor eu nisl?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest9()">Donec placerat, eros sit amet dictum gravida, nisi sem porta erat, at luctus velit metus in est?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest10()">Aenean ullamcorper commodo leo, eget aliquam risus pretium ac?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest11()">Sed vitae porttitor ante?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest12()">Aenean diam erat, malesuada nec ullamcorper ut, auctor eu nisl?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
  <a style="cursor: pointer;" (click)="quest13()">Nunc a condimentum ipsum, a dictum velit?
    <i class="fa fa-angle-double-right" style="font-size:42px;position:relative;padding-left:90%;">
      </i></a>
</div>
           

<article id="quest1" *ngIf="(question1)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 1: </b></h3>
        <p align="justify">
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. 
            In pharetra neque enim, quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. 
            Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida
        </p>
</article>  



<article id="quest2" *ngIf="(question2)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 2: </b></h3>
        <p align="justify">
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus. 
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        </p>
</article>  



<article id="quest3" *ngIf="(question3)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 3: </b></h3>
        <p align="justify">
             Nunc cursus nibh id mattis cursus. Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam. 
             Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. 
             Nam vitae volutpat enim. 
        </p>
</article>  



<article id="quest4" *ngIf="(question4)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 4: </b></h3>
        <p align="justify">
            Sed aliquet tempor lorem, ac hendrerit quam vestibulum et. In commodo aliquet nisi in maximus. 
            Duis eget turpis sit amet velit consectetur aliquam aliquam eget erat. Integer fermentum bibendum lectus, 
            in hendrerit leo finibus ac. Duis a facilisis nunc. Praesent tincidunt ut sem sed sollicitudin. Nunc cursus nibh id mattis cursus. 
            Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam.
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. 
            Nam vitae volutpat enim. Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, 
            ullamcorper id nisl. 
        </p>
</article>  



<article id="quest5" *ngIf="(question5)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 5: </b></h3>
        <p align="justify">
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
        </p>
</article>  



<article id="quest6" *ngIf="(question6)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 6: </b></h3>
        <p align="justify">
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, 
            vel pellentesque est dapibus vel. Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, 
            varius euismod lacus. Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
            per inceptos himenaeos.
        </p>
</article>  



<article id="quest7" *ngIf="(question7)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 7: </b></h3>
        <p align="justify">
            Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, eros lectus molestie velit, 
            in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. Aenean eleifend tortor at turpis pulvinar,
            sit amet tempus est luctus.
        </p>
</article>  



<article id="quest8" *ngIf="(question8)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 8: </b></h3>
        <p align="justify">
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Sed aliquet tempor lorem, ac hendrerit quam vestibulum et. In commodo aliquet nisi in maximus. Duis eget turpis sit amet velit consectetur aliquam aliquam eget erat. 
            Integer fermentum bibendum lectus, in hendrerit leo finibus ac. Duis a facilisis nunc. Praesent tincidunt ut sem sed sollicitudin. Nunc cursus nibh id mattis cursus.
            Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam. Etiam semper risus non tellus maximus, 
            posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. Donec quam ante,
            imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. Cras pulvinar porta metus lobortis gravida. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
        </p>
</article>  



<article id="quest9" *ngIf="(question9)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 9: </b></h3>
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
        </p>
</article>  



<article id="quest10" *ngIf="(question10)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 10: </b></h3>
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Sed aliquet tempor lorem, ac hendrerit quam vestibulum et. In commodo aliquet nisi in maximus. Duis eget turpis sit amet velit consectetur aliquam aliquam eget erat. 
            Integer fermentum bibendum lectus, in hendrerit leo finibus ac. Duis a facilisis nunc. Praesent tincidunt ut sem sed sollicitudin. 
            Nunc cursus nibh id mattis cursus. Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam. 
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. 
            Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. 
            Cras pulvinar porta metus lobortis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
        </p>
</article>  



<article id="quest11" *ngIf="(question11)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 11: </b></h3>
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Sed aliquet tempor lorem, ac hendrerit quam vestibulum et. In commodo aliquet nisi in maximus. Duis eget turpis sit amet velit consectetur aliquam aliquam eget erat. 
            Integer fermentum bibendum lectus, in hendrerit leo finibus ac. Duis a facilisis nunc. Praesent tincidunt ut sem sed sollicitudin. 
            Nunc cursus nibh id mattis cursus. Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam. 
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. 
            Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. 
            Cras pulvinar porta metus lobortis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
        </p>
</article> 



<article id="quest12" *ngIf="(question12)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 12: </b></h3>
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Sed aliquet tempor lorem, ac hendrerit quam vestibulum et. In commodo aliquet nisi in maximus. Duis eget turpis sit amet velit consectetur aliquam aliquam eget erat. 
            Integer fermentum bibendum lectus, in hendrerit leo finibus ac. Duis a facilisis nunc. Praesent tincidunt ut sem sed sollicitudin. 
            Nunc cursus nibh id mattis cursus. Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam. 
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. 
            Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. 
            Cras pulvinar porta metus lobortis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. 
            Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. 
            Cras pulvinar porta metus lobortis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
        </p>
</article> 



<article id="quest13" *ngIf="(question13)">
        <h2 style="color: black;" align="center"><b>Przykładowa odpowiedź</b></h2>
        <h3 style="color: black;" align="center"><b>Pytanie 13: </b></h3>
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Sed aliquet tempor lorem, ac hendrerit quam vestibulum et. In commodo aliquet nisi in maximus. Duis eget turpis sit amet velit consectetur aliquam aliquam eget erat. 
            Integer fermentum bibendum lectus, in hendrerit leo finibus ac. Duis a facilisis nunc. Praesent tincidunt ut sem sed sollicitudin. 
            Nunc cursus nibh id mattis cursus. Duis molestie justo turpis, sed vestibulum justo congue at. In ut dui ac purus blandit fermentum ut vitae diam. 
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. 
            Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. 
            Cras pulvinar porta metus lobortis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
            Integer tincidunt sagittis libero vel consectetur. Quisque lacinia tincidunt mattis. Maecenas tempor ut ex sed rutrum. Etiam tristique aliquet dolor, 
            auctor dictum arcu suscipit id. In quis lacinia ex. Morbi rhoncus, sapien ac tincidunt placerat, erat nulla pharetra nisl, at dignissim mi ipsum at risus.
            Nulla porttitor neque eu nunc dapibus, a consectetur eros scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
            Mauris lobortis consectetur diam in fringilla. Maecenas eros lacus, accumsan eget consectetur ut, tristique at sem.
            Etiam semper risus non tellus maximus, posuere vehicula nibh aliquam. Mauris quis diam tristique, varius sapien vitae, viverra eros. Nam vitae volutpat enim. 
            Donec quam ante, imperdiet non vehicula fringilla, imperdiet ut massa. Nam augue ex, lacinia a eleifend eu, ullamcorper id nisl. 
            Cras pulvinar porta metus lobortis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Nulla id posuere metus, ut euismod lorem. Duis orci mi, suscipit ut est in, feugiat blandit ante. Etiam urna urna, fringilla vestibulum aliquet eget, 
            viverra nec metus. Morbi et rutrum turpis. Fusce consequat dui id orci eleifend consequat ut quis nunc. Proin at odio non erat vulputate fringilla. 
            In quis ligula erat. Curabitur et dignissim nulla, id auctor dolor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum metus sodales nisl hendrerit, non fermentum neque consectetur. Aliquam erat volutpat. 
            Fusce scelerisque malesuada augue in dictum. Pellentesque laoreet ullamcorper arcu sed porttitor. Vivamus lobortis justo mauris, vel pellentesque est dapibus vel. 
            Nunc urna sem, ultricies et arcu a, tempus sagittis leo. Curabitur nisl lectus, mattis sit amet erat eu, varius euismod lacus. 
            Maecenas vitae nunc placerat ante aliquam consequat id eu ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Mauris convallis nibh purus, et malesuada velit eleifend a. Pellentesque dignissim justo nunc, et accumsan metus aliquam sit amet. In pharetra neque enim, 
            quis dictum sem fermentum vitae. Donec sodales orci sapien, nec porta neque malesuada non. Sed aliquam eget magna a ornare. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce efficitur, lectus ac scelerisque gravida, 
            eros lectus molestie velit, in semper velit risus non lorem. Etiam ligula neque, vehicula mollis faucibus ut, blandit eget elit. 
            Aenean eleifend tortor at turpis pulvinar, sit amet tempus est luctus.
        </p>
</article> 



</div>

        </div>
    </div>
</body>

<div class="footer">
          <img src="assets/images/partners/partner1.png" align="left" style="position:absolute; left:5%;margin-top:50px;">
          <img src="assets/images/partners/partner2.png" align="left" style="position:absolute; right:35%;margin-top:50px;">
          <img src="assets/images/partners/partner3.png" align="left" style="position:absolute; right:60%;margin-top:80px;">
          <img src="assets/images/partners/partner4.png" align="right" style="position:absolute; right:5%;margin-top:80px;">
</div>

