    <section id="bottom">
        <div class="container wow fadeInDown" 
             data-wow-duration="1000ms" 
             data-wow-delay="600ms">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                    <div class="widget">
                        <h3>O firmie</h3>
                        <ul>
                            <li>
                                <i class="fa fa-gavel" 
                                   style="font-size:16px;padding-right:5px;">
                                </i>
                                <a routerLink="/regulamin" 
                                   style="text-decoration: none">
                                   Regulamin
                                </a>
                            </li>    
                            <li>
                                <i class="fa fa-suitcase" 
                                   style="font-size:16px;padding-right:5px;">
                                </i>
                                <a routerLink="/praca" 
                                   style="text-decoration: none">
                                   Praca
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-map" 
                                   style="font-size:16px;padding-right:5px;">
                                </i>
                                <a routerLink="/lokalizacja" 
                                   style="text-decoration: none">
                                   Lokalizacja
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-building" 
                                   style="font-size:16px;padding-right:5px;">
                                </i>
                                <a routerLink="/biura" 
                                   style="text-decoration: none">
                                   Nasze biura
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Terms of use
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Privacy policy
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Contact us
                                </a>
                            </li>
                        </ul>
                    </div>    
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                    <div class="widget">
                        <h3>Wsparcie</h3>
                        <ul>
                            <li>
                                <i class="fa fa-question" 
                                   style="font-size:16px;padding-right:5px;">
                                </i>
                                <a routerLink="/pytania" 
                                   style="text-decoration: none">
                                   Wasze pytania
                                </a>
                            </li>
                            <li>
                                <a href=""
                                   style="text-decoration: none">
                                   Blog
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Forum
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Documentation
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Refund policy
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Ticket system
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Billing system
                                </a>
                            </li>
                        </ul>
                    </div>    
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Web Development
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   SEO Marketing
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Theme
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Development
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Email Marketing
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Plugin Development
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Article Writing
                                </a>
                            </li>
                        </ul>
                    </div>    
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Adipisicing Elit
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Eiusmod
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Tempor
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Veniam
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Exercitation
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Ullamco
                                </a>
                            </li>
                            <li>
                                <a href="" 
                                   style="text-decoration: none">
                                   Laboris
                                </a>
                            </li>
                        </ul>
                    </div>    
                </div>

            </div>
        </div>
    </section>